/diss_marton_kajo.acn
/diss_marton_kajo.acr
/diss_marton_kajo.alg
/diss_marton_kajo.aux
/diss_marton_kajo.bbl
/diss_marton_kajo.blg
/diss_marton_kajo.idx
/diss_marton_kajo.ilg
/diss_marton_kajo.ind
/diss_marton_kajo.ist
/diss_marton_kajo.lof
/diss_marton_kajo.log
/diss_marton_kajo.lot
/diss_marton_kajo.out
/diss_marton_kajo.synctex.gz
/diss_marton_kajo.toc

*.aux
